h1 {
    text-align: center;
}

main {
    margin: 0 auto;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 100%;
    background: #000;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    animation: esmaecer 1s ease-in forwards;
}

@keyframes esmaecer {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }


}
