    /* 
    .formulario input[type="radio"] {
        display: none;
    } */

    * {
        padding: 0;
        box-sizing: border-box;
        margin: 0;
        font-family: "Manrope", sans-serif;
    }

    body {
        background-color: #ffebfd;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    main {
        padding-inline: 1rem;
    }



    main, h1 {
        width: 100%;
        max-width: 400px;
        margin-inline: auto;
        flex: 1;
        
    }

    h1 {
        text-align: center;
        background-color: #80b852;
        margin-block: 1rem;
        padding: 1rem;
        border-radius: 10px;
        color: #362c11;
        
    }

    .formulario {
        display: block;
        width: 100%;
        
    }

    .formulario fieldset {
        margin: 1rem 0;
        border: 1px solid rgb(107, 66, 20);
        border-radius: 10px;
        padding: 1rem;
        background-color: #fff5de;
    }

    .formulario legend {
        padding: 0.5rem;
        color: rgb(13, 99, 42);
        font-size: 1.3rem;
    }

    .formulario label{
        display: block;
        padding: 1rem 0;
        color: rgb(107, 66, 20);
        font-size: 1rem;
    }

    .formulario .opcoes {
        padding-top: 2rem;
        font-size: 1rem;
        color: rgb(107, 66, 20);
    }

    .opcional {
        color: rgb(170, 116, 45);
    }

    .formulario .rotulo {
        padding-bottom: 0rem;
    }

    .formulario input,
    .formulario textarea,
    .formulario select {
        font-size: 1rem;
    }

    .formulario input[type="text"],
    .formulario input[type="date"],
    .formulario textarea,
    .formulario select {
        display: block;
        background-color: rgb(255, 250, 181);
        border: 1px solid gray;
        border-radius: 5px;
        padding: 0.60rem;
        width: 100%;
        max-width: 100%;
    }


    .formulario input[type="radio"],
    .formulario input[type="checkbox"] {
        margin-left: 7px;
        margin-right: 7px;
        cursor: pointer;
    }

    .formulario input[type="checkbox"] {
        width: 1.1rem;
        height: 1.1rem;
    }

    .formulario input[type="date"]:hover,
    .formulario select {
        cursor: pointer;
    }

    .formulario input[type="submit"] {
        border: none;
        background-image: linear-gradient(#90df50, #90df50);
        border-radius: 6px;
        padding: .8rem;
        font-size: 1.3rem;
        font-weight: bold;
        width: 100%;
        color: #362c11;;


    }

    .formulario textarea {
        resize: vertical;
    }

    .estrelas {
        padding-top: 0;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        padding-left: 1rem;
        
    }

    .estrelas input {
        position: absolute;
        opacity: 0;
    }

    .estrelas label {
        padding: 0.2rem;
        font-size: 2.1rem;
        color: #ccc;
        cursor: pointer;
        line-height: 0;
        margin-bottom: 2rem;
    }

    .estrelas label::before {
        content: "★";
    }

    .formulario .frase-star {
        padding: 2rem 0 1.2rem;
        font-size: 1rem;
        color: rgb(107, 66, 20);
    }


    .estrelas input:checked ~ label,
    .estrelas label:hover,
    .estrelas label:hover ~ label{
        color: #e6da3b;
    }

    .formulario input[type="submit"]:hover {
        cursor: pointer;
        background-image: linear-gradient(#c5df50, #e6da3b);
    }

    footer {
        text-align: center;
        background-color: rgb(187, 125, 44);
        margin-top: 2rem;
        padding: 0.7rem;
       
    }

    .agradecimento {
        font-size: 2rem;
        text-align: center;
        border: 1px solid pink;
        border-radius: 6px;
        background-color: #b3e986;
        padding: 2rem 1rem;
        margin-top: 0;
    }

    .agradecimentos {
        max-width: 700px;
        padding-inline: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    @media (max-width: 400px) {
        .estrelas label {
            font-size: 1.8rem;
        }

        .agradecimento {
            font-size: 1.5rem;
        }
    }







