    /* 
    .formulario input[type="radio"] {
        display: none;
    } */

    * {
        padding: 0;
        box-sizing: border-box;
        margin: 0;
        font-family: "Manrope", sans-serif;
    }

    body {
        background-color: #ffeaff;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    main {
        padding-inline: 1rem;

    }



    main,
    h1 {
        width: 100%;
        max-width: 400px;
        margin-inline: auto;
        flex: 1;

    }

    h1 {
        text-align: center;
        background-color: #ed5672;
        margin-block: 1rem;
        padding: 1rem;
        border-radius: 6px;
        color: #160e32;

    }

    .formulario {
        display: block;
        width: 100%;

    }

    .formulario fieldset {
        margin: 1rem 0;
        border: 1px solid #881332;
        border-radius: 10px;
        padding: 1rem;
        background-color: #ffeaff;
    }

    .formulario legend {
        padding: 0.5rem;
        color: #881332;
        font-size: 1.3rem;
    }

    .formulario label {
        display: block;
        padding: 1rem 0;
        color: #320606;
        font-size: 1rem;
    }

    .formulario .opcoes {
        padding-top: 2rem;
        font-size: 1rem;
        color: #320606;
    }

    .opcional {
        color: #320606;
        font-style: italic;
    }

    .opcao {
        font-style: italic;
    }

    .formulario .rotulo {
        padding-bottom: 0rem;
    }

    .formulario input,
    .formulario textarea,
    .formulario select {
        font-size: 1rem;
    }

    .formulario input[type="text"],
    .formulario input[type="date"],
    .formulario textarea,
    .formulario select {
        display: block;
        background-color: #f8dac2;
        border: 1px solid #881332;
        border-radius: 5px;
        padding: 0.60rem;
        width: 100%;
        max-width: 100%;
    }


    .formulario input[type="radio"],
    .formulario input[type="checkbox"] {
        margin-left: 7px;
        margin-right: 7px;
        cursor: pointer;
    }

    .formulario input[type="checkbox"] {
        width: 1.1rem;
        height: 1.1rem;
    }

    .formulario input[type="date"]:hover,
    .formulario select {
        cursor: pointer;
    }

    .formulario input[type="submit"] {
        border: none;
        background-image: linear-gradient(#ef8779, #ca655c);
        border-radius: 6px;
        padding: .8rem;
        font-size: 1.3rem;
        font-weight: bold;
        width: 100%;
        color: #320606;


    }

    .formulario textarea {
        resize: vertical;
    }

    .estrelas {
        padding-top: 0;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        padding-left: 1rem;

    }

    .estrelas input {
        position: absolute;
        opacity: 0;
    }

    .estrelas label {
        padding: 0.2rem;
        font-size: 2.1rem;
        color: #575a4d;
        cursor: pointer;
        line-height: 0;
        margin-bottom: 2rem;
    }

    .estrelas label::before {
        content: "★";
    }

    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;
    }

    .formulario .frase-star {
        padding: 2rem 0 1.2rem;
        font-size: 1rem;
        color: #320606;
    }


    .estrelas input:checked~label,
    .estrelas label:hover,
    .estrelas label:hover~label {
        color: #af9817;
    }

    .formulario input[type="submit"]:hover {
        cursor: pointer;
        background-image: linear-gradient(#fed71d, #e0bd16);
    }

    .formulario input[type="checkbox"] {
        accent-color: #ed5672;
    }

    footer {
        text-align: center;
        background-color: #e27d9b;
        margin-top: 2rem;
        padding: 0.7rem;
        font-weight: bold;
        color: #000000;

    }

    .agradecimento {
        font-size: 2rem;
        text-align: center;
        border: 1px solid pink;
        border-radius: 6px;
        background-color: #b3e986;
        padding: 2rem 1rem;
        margin-top: 0;
    }

    .agradecimentos {
        max-width: 700px;
        padding-inline: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    @media (max-width: 400px) {
        .estrelas label {
            font-size: 1.8rem;
        }

        .agradecimento {
            font-size: 1.5rem;
        }
    }