@media screen and (min-width: 700px) {


    .navegacao {
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 2rem;
    }

    #menu {
        display: none;
    }

    .fotos {
        grid-template-columns: repeat(3, 1fr);
    }
}